*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, footer, .profile p{
    font-family: 'Pacifico', cursive;
    font-style: italic;
}
/*
img {
    width: 100%;
    height: auto;
}*/

figure {
    margin: 0;
}

/* --- Nav bar with links --- */
nav {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    width: 50%;
}

nav a {
    text-decoration: none;
    color: #354259;
    font-weight: bolder;
    font-size: 0.8rem;
}

nav a:hover {
    color: #6FB2D2;
}

/* --- Header section with profile picture with name.--- */
header {
    background: #F6E7D8;
    height: 220px;
    width: auto;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profile img {
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 130px;
    width: 35%;
    height: 130px;
}

/* --- This is for my name.--- */
h1 {
    padding-top: 20px;
    margin-left: 240px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #6FB2D2;
}

/* --- Hide the word Glad to see you on the header.--- */
.profile p {
    visibility: hidden;
}

/* --- About Section with title and text.--- */
.about {
    background: #6FB2D2;
    padding: 10px;
}

.about h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: #F6E7D8;
}

.about p {
    margin: 10px;
    line-height: 24px;
    padding: 10px;
    border: 2px inset #E4DCCF;
    color: #354259;
}

/* Projects with images and titles */
.projects {
    background: #F6E7D8;
    height: 850px;
}

.projects h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #6FB2D2;
    padding-top: 20px;
    padding-bottom: 20px;
}

.projects p {
    font-size: 1.05rem;
    color: #354259;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}
.projects img {
    width: 90%;
    margin: auto;
    display: flex;
    box-shadow: 10px 5px 5px #898AA6;
    border: 2px solid yellow;
    border-radius: 25px;
}
.project-showcase img {
    height: 250px;    
}

.project-demo img {
    height: 190px;   
}

.contact {
    background: #6FB2D2;
    height: 100px;
}

.contact h2 {
    font-size: 1.5rem;
    color: #F6E7D8;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
}

.social {
    height: 60px;  
}

.social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 25px;
}

.social ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: #354259;
}

.social a:hover {
    text-decoration: underline;
    color: #354259;
}

footer {
    font-size: 1rem;
    text-align: center;
    height: 50px;
    padding-top: 25px;
    background: #F6E7D8; 
    color: #6FB2D2;
}

/*-------------------- Media Queries ----------------------------*/

/* ---------------------------------------------------------------
------------ For Screen 1201px and up -------------- */
@media screen and (min-width: 1201px) {

    nav {
        display: flex;
        margin-left: 1230px;
        width: 30%;
        height: 70px;
        padding: 7px;
    }

    nav a:hover {
        color: #1F4690;
    }

    nav a {
        color: #E9DAC1;
        justify-content: flex-start;
        padding-top: 15px;
        font-size: 1.5rem;
    }

    header {
        background: #898AA6;
        height: 650px;
        width: 100%;
    }

    .profile img {
        margin-left: 600px;
        width: 28%;
        height: 450px;
    }

    h1 {
        padding-top: 10px;
        font-size: 3.4rem;  
        margin-left: 150px;
        color: #81CACF;
    }
/* --- The word Glad to see you appears in the profile section
       for the bigger screen.---*/
    .profile p {
        visibility: visible;
        font-size: 3rem;
        margin-left: 1200px;
        color: #81CACF;
        margin-bottom: 40px;
    }

    .about {
        background: #C9BBCF;
        height: 600px;
    }

    .about h2 {
        font-size: 2.8rem;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 30px;
        text-align: left;
        color: #0078AA;
    }

    .about p {
        font-size: 2rem;
        color: #354259;
        line-height: 50px;
        padding: 50px;
        border: 2px inset #D3CEDF;
    }

    figure {
        width: 85%;
    }

    .projects {
        display: flex;
        background: #D3CEDF;
        gap: 2rem;
    }

    .projects h2 {
        font-size: 2.8rem;
        align-self: center;
        margin-left: 40px;
        margin-right: 40px;
        color: #0078AA;
    }

    .projects p {
        font-size: 1.3rem;
        color: #354259;
        font-weight: bold;
    }

    .projects img {
       border-color: #81CACF; 
    }

    .project-showcase img {
        margin-top: 80px;
        margin-left: 40px;
        width: 80%;
        height: 600px;    
    }

    .demo1 img {       
        margin-top: 180px;
        height: 350px;
    }

    .zoom:hover {
        transition: transform .5s ease-in-out;
        transform: scale(1.5);
    }

    .demo2 img {       
        margin-top: 240px;
        height: 250px;
    }

    .contact {
        background: #9CB4CC;
        height: 250px;
    }

    .contact h2 {
        font-size: 2.5rem;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 30px;
        color: #1F4690;
    }

    .social ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
        margin-top: 40px;
    }

    .social ul li a {
        font-size: 1.6rem;
        text-decoration: none;
        color: #E9DAC1;
    }

    footer {
        background: #F7E2D6;
        height: 80px;
        font-size: 1.2rem;
        color: #81CACF;
        padding-top: 40px;
    }
}

/* ---------------------------------------------------------------
------------ For Screen between 992px upto 1200px -------------- */

@media screen and (min-width: 992px) and (max-width: 1200px) {
    nav {
        display: flex;
        justify-content: flex-end;
        justify-content: space-between;
        margin-left: 680px;
        width: 30%;
        height: 70px;
        padding: 7px;
    }

    nav a:hover {
        color: #1F4690;
    }

    nav a {
        color: #E9DAC1;
        justify-content: flex-start;
        padding-top: 15px;
        font-size: 1.5rem;
    }

    header {
        background: #898AA6;
        height: 450px;
        width: 100%;
    }

    .profile img {
        margin-left: 400px;
        width: 28%;
        height: 250px;
    }

    h1 {
        padding-top: 10px;
        font-size: 3rem;
        margin-left: 80px;
        color: #81CACF;
    }

    .profile p {
        visibility: visible;
        font-size: 3rem;
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;
        color: #81CACF;
        margin-bottom: 40px;
    }

    .about {
        background: #C9BBCF;
        height: 500px;
    }

    .about h2 {
        font-size: 2.8rem;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 30px;
        text-align: left;
        color: #0078AA;
    }

    .about p {
        font-size: 1.5rem;
        color: #354259;
        line-height: 50px;
        padding: 30px;
        border: 2px inset #D3CEDF;
    }

    figure {
        width: 85%;
    }

    .projects {
        display: flex;
        gap: 2rem;
        background: #D3CEDF;
        height: 600px;
    }

    .projects h2 {
        font-size: 2.8rem;
        margin-top: 250px;
        margin-left: 40px;
        margin-right: 40px;
        color: #0078AA;
    }

    .projects p {
        font-size: 0.9999rem;
        color: #354259;
        font-weight: bold;
    }

    .project-showcase img {
        margin-top: 80px;
        margin-left: 40px;
        width: 80%;
        height: 400px;
        border-color: #81CACF;
    }

    .demo1 img {
        border-color: #81CACF;
        margin-top: 110px;
        height: 330px;
    }

    .zoom:hover {
        transition: transform .5s ease-in-out;
        transform: scale(1.5);
    }

    .demo2 img {
        border-color: #81CACF;
        margin-top: 140px;
        height: 260px;
    }

    .contact {
        background: #9CB4CC;
        height: 200px;
    }

    .contact h2 {
        font-size: 2.5rem;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 30px;
        color: #1F4690;
    }

    .social ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
        margin-top: 20px;
    }

    .social ul li a {
        font-size: 1.6rem;
        text-decoration: none;
        color: #E9DAC1;
    }

    footer {
        background: #F7E2D6;
        height: 80px;
        font-size: 1.2rem;
        color: #81CACF;
        padding-top: 40px;
    }
}

/* ---------------------------------------------------------------
------------ For Screen between 768px upto 991px -------------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
    nav {
        display: flex;
        margin-left: 400px;
        width: auto;
        height: 70px;
        padding: 7px;
    }

    nav a {
        color: #354259;
        justify-content: flex-start;
        padding-top: 15px;
        font-size: 1.2rem;
    }

    header {
        background: #F6E7D8;
        height: 380px;
        width: 100%;
    }

    .profile img {
        margin-left: 350px;
        width: 28%;
        height: 250px;
    }

    h1 {
        padding-top: 7px;
        font-size: 2.5rem;
        margin-left: 100px;
    }

    .profile p {
        font-size: 3rem;
        margin-left: 500px;
    }

    .about {
        height: 270px;
    }

    .about h2 {
        font-size: 1.8rem;
    }

    .about p {
        padding: 25px;
    }

    .projects {
        height: 1090px;
    }

    .projects h2 {
        font-size: 1.8rem;
    }

    .project-showcase img {
        margin-top: 10px;
        margin-left: 150px;
        width: 70%;
        height: 320px;
        border-color: #81CACF;
    }

    .demo1, .demo2 {
        border-color: #81CACF;
        margin-top: 50px;
        height: 240px;
    }

    .demo1 img {
        width: 65%;     
    }

    .demo2 img {
        width: 55%;
    }

    .contact h2 {
        font-size: 1.8rem;
    }

    .social ul {
        padding-top: 15px;
    }
}