* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

figure {
    margin: 0;

}

/* Nav bar with links */
nav {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    padding-top: 15px;
    
    /*background: lightblue;*/
}

nav a {
    text-decoration: none;
    color: red;
}
/* Header section with profile picture with name. */
header {
   /* background: yellow;*/
    height: 220px;
    width: auto;
}

.profile {
    /*margin-top: 20px;*/
    /*background: lightpink;*/
    display: flex;
    flex-direction: column;
}

.profile img {
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 130px;
    width: 35%;
    height: 130px;
}

h1 {
    padding-top: 20px;
    margin-left: 250px;
    font-size: 1.2rem;
}

/* might have to change to .profile p */
.profile p {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 1.15rem;
}

/* About Section with title and text */
.about {
    background: lightsalmon;
    padding: 10px;
    
}

.about h2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.about p {
    margin: 10px;
    line-height: 24px;
    padding: 10px;
}

/* Projects with images and titles */
.projects {
    background: lemonchiffon;
    height: 820px;
}

.projects h2 {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.projects p {
    font-size: 1.05rem;
    margin-top: 7px;
    margin-bottom: 25px;
}
.project-showcase img {
    height: 250px;

}

.project-demo img {
    height: 180px;
    background: yellow;
}

.contact {
    background: lightblue;
}


/*------------- Media Query ---------------- */
/* For Tablet */
@media screen and (min-width: 768px) {
    nav {
       display: flex;
        margin-left: 1200px;
        width: 500px;
        height: 70px;
        padding: 7px;
        /*background: lightblue;*/ 
    }

    nav a {
        color: blue;
        justify-content: flex-start;
        padding-top: 15px;
        font-size: 2rem;
        
    }

    header {
        background: yellow;
        height: 650px;
        width: 100%;
    }

    .profile {
       display: flex; 
        
    }

    .profile img {
        
        margin-left: 500px;
        width: 28%;
        height: 450px;
    }

    h1 {
        padding-top: 20px;
        font-size: 3rem;
        margin-left: 200px;
    }

    .profile p {
        font-size: 3rem;
        margin-left: 1050px;
        
    }

    .about {
       
        /*width: 75%;*/
        height: 600px;
        margin: auto;

    }

    .about h2 {
        font-size: 2.8rem;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .about p {
        font-size: 2rem;
        line-height: 50px;
        padding: 50px;
    }


    .project-showcase img {

        width: 40%;
        height: 200px;
    }

    .project-demo img {
        width: 40%;
        margin-top: 20px;
        height: 125px;
        background: yellow;
    }
    }

    

